body {
    user-select: none;
    margin-left: 20px;
}

:root {
    --light-grey: rgb(173, 173, 173);
    --dark-grey: rgb(129, 129, 129);
}

#main-title {
    display: flex;
    align-items: center;
    font-size: 20px;
    height: 50px;
    width: 1920px;
}

#total-screen {
    display: flex;
    flex-direction: row;
}

#main-container {
    display: flex;
    flex-direction: column;
    width: 1480px;
    height: 1125px;
    overflow-y: scroll;
    border: solid 1px black;
    background-color: var(--light-grey);
}

#side-container {
    height: 1125px;
    width: 800px;
    font-size: 30px;
    border-top: solid 1px black;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    background-color: var(--dark-grey);
    color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
}

#info-image {
    box-sizing: border-box;
    width: 780px;
    max-height: 750px;
    margin-left: 10px;
    margin-top: 10px;
    object-fit: cover;
}

#info-item {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
}

.menu-line {
    display: flex;
    width: 100%;
    height: 25px;
    flex-shrink: 0;
    background-color: var(--dark-grey);
    color: #fff;
    font-size: 20px;
}

.item-line {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;

    background-color: var(--light-grey);
    width: 100%;
    height: 200px;
    gap: 10px;
    flex-shrink: 0;
    scroll-behavior: smooth;
    flex-wrap: nowrap;
}

.section-label {
    display: flex;
    position: relative;
    align-items: center;
    margin-left: -70px
}

.image {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 200px;
    height: 100%;
    flex-shrink: 0;
}

.image:hover {
    filter: brightness(1.15);
    transform: scale(1.03);
}

.image img {
    flex: 1 1 auto;
    width: 100%;
    object-fit: cover;
}

.item-text {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;

    min-height: 40px;
    max-height: 40px;
    font-size: 14px;
}

.sort-btn,
.minimize-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    margin-top: 2px;
    background-color: var(--light-grey);
    color: #fff;
    font-size: 15px;
}

.sort-btn:hover,
.minimize-btn:hover,
.sort-order-btn:hover {
    background-color: rgb(212, 212, 212);
}

.sort-btn {
    width: 120px;
}

.minimize-btn,
.sort-order-btn {
    width: 40px;
}

.sort-order-btn {
    position: relative;
    right: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    border-radius: 5px;
    border: none;
    margin-top: 2px;
    background-color: var(--light-grey);
    color: #fff;
    font-size: 15px;
    padding-bottom: 5px;
}

.sort-dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 25px;
    right: 110px;
    width: 100px;
    height: 125px;
    padding-top: 5px;
    background-color: var(--dark-grey);
    z-index: 1000;
}

.selected {
    box-sizing: border-box;
    outline: 6px solid rgb(68, 68, 68);
    width: 200px;
    outline-offset: -6px;
}

.collapsed-line {
    /* For min/max buttons */
    height: 0px;
}

.clickthrough {
    pointer-events: none;
}

.sort-dropdown-closed {
    pointer-events: none;
    opacity: 0;
}

.sort-dropdown-open {
    pointer-events: auto;
    opacity: 1;
}

.sort-dropdown>div {
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-size: 20px;
    color: #fff;
}

#image-overlay {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    cursor: zoom-out;
    display: none;
}

#overlay-img {
    object-fit: contain;
}